<div class="widget about">
  <h3 class="title">About</h3>
  <div class="entry">
	<p style="float:right; margin-left: 10px"><img src="http://www.gravatar.com/avatar/77e2274e2f65cb21bf82ba06c33a5ead.jpg?s=125" width="125" height="125"></p>

  	<p>Brian Gershon builds HTML5 apps, mobile apps, and node.js tools -- with a focus on JavaScript and Objective-C.</p>

  	<p>I'm employed at <a href="http://www.unity3d.com" target="_blank">Unity Technologies</a> as a member of their Online Services engineering team working on the new <a href="http://cloud.unity3d.com" target="_blank">Unity Cloud</a>.</p>

  	<p>My <a href="http://www.linkedin.com/in/briangershon" target="_blank">LinkedIn</a> profile.</p>
  </div>
</div>
